* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #171515;
    color: #f5eeee;
    font-family: Arial, sans-serif;
}

.header {
    width: 100%;
    padding: 25px 8%;

    display: flex;
    align-items: center;
    justify-content: space-between;

    border-bottom: 1px solid #383333;
}

.logo {
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 3px;
}

nav {
    display: flex;
    gap: 30px;
}

nav a {
    color: #f5eeee;
    text-decoration: none;
    font-size: 15px;
    transition: 0.3s;
}

nav a:hover {
    color: #e9a393;
}

.hero {
    min-height: 80vh;

    display: flex;
    align-items: center;
    justify-content: center;

    text-align: center;

    padding: 60px 20px;
}

.hero-text {
    max-width: 750px;
}

.subtitle {
    color: #df9a8d;
    font-size: 13px;
    letter-spacing: 3px;
    margin-bottom: 20px;
}

.hero h1 {
    font-size: 55px;
    margin-bottom: 20px;
}

.description {
    color: #bdb5b5;
    font-size: 18px;
    line-height: 1.7;
    margin-bottom: 35px;
}

button {
    background-color: #e9a393;

    border: none;

    padding: 15px 30px;

    border-radius: 30px;

    font-size: 16px;

    cursor: pointer;

    transition: 0.3s;
}

button:hover {
    transform: translateY(-3px);
    background-color: #f1b1a1;
}

.colors {
    padding: 100px 8%;
    text-align: center;
    background-color: #211e1e;
}

.colors h2 {
    font-size: 35px;
    margin-bottom: 45px;
}

.color-palette {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 40px;
}

.color {
    width: 100px;
    height: 100px;
    border-radius: 15px;

    transition: 0.3s;
}

.color:hover {
    transform: translateY(-5px);
}

.color1 {
    background-color: #d98c87;
}

.color2 {
    background-color: #dcc194;
}

.color3 {
    background-color: #a982a2;
}

.color4 {
    background-color: #71928e;
}

.color5 {
    background-color: #b95f51;
}

.color-buttons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    gap: 12px;

    margin-bottom: 45px;
}

.color-buttons button {
    padding: 11px 22px;
    font-size: 14px;
}

.color-info {
    max-width: 650px;
    margin: auto;
}

.color-info h3 {
    font-size: 22px;
    margin-bottom: 10px;
}

.color-info p {
    color: #bdb5b5;
    line-height: 1.7;
}

.color-theory {
    padding: 110px 8%;
    background-color: #171515;
    text-align: center;
}

.color-theory h2 {
    font-size: 35px;
    margin-bottom: 70px;
}

.theory-content {
    max-width: 1100px;
    margin: auto;

    display: flex;
    align-items: center;
    justify-content: center;

    gap: 80px;

    text-align: left;
}

.color-wheel {
    display: flex;
    justify-content: center;
    align-items: center;

    min-width: 380px;
}

.wheel {
    width: 320px;
    height: 320px;

    border-radius: 50%;

    background: conic-gradient(
        #e63946 0deg 45deg,
        #f3722c 45deg 90deg,
        #f9c74f 90deg 135deg,
        #90be6d 135deg 180deg,
        #43aa8b 180deg 225deg,
        #43a5d9 225deg 270deg,
        #5e60ce 270deg 315deg,
        #9b5de5 315deg 360deg
    );

    border: 18px solid #383333;

    box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);

    transition: 0.3s;
}

.wheel:hover {
    transform: scale(1.03);
}

.theory-text {
    max-width: 520px;
}

.theory-text > p {
    color: #bdb5b5;

    line-height: 1.7;

    font-size: 16px;

    margin-bottom: 35px;
}

.theory-text h3 {
    font-size: 24px;

    margin-bottom: 25px;
}

.theory-items {
    display: flex;
    flex-direction: column;

    gap: 22px;
}

.theory-item {
    display: flex;

    gap: 18px;

    align-items: flex-start;
}

.theory-item span {
    color: #df9a8d;

    font-size: 13px;

    letter-spacing: 2px;

    min-width: 25px;
}

.theory-item h4 {
    font-size: 16px;

    margin-bottom: 5px;
}

.theory-item p {
    color: #8f8989;

    font-size: 14px;

    line-height: 1.5;
}

.makeup {
    padding: 100px 20px;

    text-align: center;

    max-width: 800px;

    margin: auto;
}

.makeup h2 {
    font-size: 40px;

    margin-bottom: 20px;
}

.makeup p:not(.subtitle) {
    color: #bdb5b5;

    line-height: 1.7;

    margin-bottom: 30px;
}

.makeup-buttons {
    display: flex;

    justify-content: center;

    gap: 15px;

    flex-wrap: wrap;
}

.about {
    padding: 100px 20px;

    text-align: center;

    background-color: #211e1e;
}

.about h2 {
    font-size: 35px;

    margin-bottom: 20px;
}

.about p:not(.subtitle) {
    max-width: 650px;

    margin: auto;

    color: #bdb5b5;

    line-height: 1.7;
}
footer {
    border-top: 1px solid #383333;

    padding: 35px 25px;

    text-align: center;

    color: #8f8989;

    font-size: 13px;
}

.footer-buttons {
    margin-top: 25px;

    display: flex;

    justify-content: center;

    gap: 20px;
}

.footer-buttons button {
    padding: 12px 25px;

    font-size: 14px;
}

@media (max-width: 800px) {

    .header {
        flex-direction: column;
        gap: 20px;
    }

    nav {
        gap: 15px;
        flex-wrap: wrap;
        justify-content: center;
    }

    .hero h1 {
        font-size: 40px;
    }

    .colors h2 {
        font-size: 28px;
    }

    .color-palette {
        flex-wrap: wrap;
    }

    .color {
        width: 70px;
        height: 70px;
    }

    .theory-content {
        flex-direction: column;

        gap: 60px;

        text-align: center;
    }

    .color-wheel {
        min-width: auto;
    }

    .wheel {
        width: 270px;
        height: 270px;
    }

    .theory-text {
        max-width: 600px;
    }

    .theory-item {
        text-align: left;
    }

    .makeup-buttons {
        flex-direction: column;

        align-items: center;
    }

}